
/*   Hero   */

.hero h4.multi-text {
    display: inline;
}

.typed-cursor {
    color: var(--primary--dark);
    font-size: 1.8rem;
    font-weight: 200;
}

section.hero {
    height: calc(100vh - 86px);
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.hero .portrait {
    position: absolute;
    height: 80%;
    transform: translateX(-50%);
    left: 50%;
    bottom: 0%;
}

.hero .circle {
    position: absolute;
    height: 80%;
    transform: translateX(-49%);
    left: 49%;
    top: 14%;
    min-width: 500px;
}

.hero .left .text {
    width: 75%;
    position: relative;
    top: 14%;
}

.hero .left .text p {
    max-width: 300px;
}

.hero .left .text a.cta-link {
    display: inline-block;
    margin-top: 8px;
    font-weight: 400;
    color: var(--primary--accent);
}

.hero .left .text h3 {
    max-width: 180px;
    margin-bottom: 8px;
}

.social-buttons {
    margin-top: 28px;
    display: flex;
    gap: 24px;
}

.social-button {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--light);
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.3));
    display: flex;
    align-items: center;
    justify-content: center;
    transition: scale 0.1s ease-in-out;
}


.hero .left .text .social-button:hover {
    scale: 1.05;
}

.social-button img {
    width: 28px;
}

.hero .right {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    max-width: 500px;
}

.hero .right .text {
    width: 75%;
    position: relative;
    top: 10%;
}

.hero .right .text p {
    max-width: 360px;
    font-size: 1.1rem;
    float: right;
}

.hero .right .text hr {
    width: 136px;
    border-color: var(--primary--accent);
    border-width: 3px;
    border-style: solid;
    float: right;
    margin-top: 24px;
    margin-bottom: 36px;
}

.bar {
    z-index: 100;
    width: 60%;
    height: 128px;
    border-radius: 28px;
    background-color: var(--light);
    box-shadow: 0px 6px 13px 4px rgba(0, 0, 0, 0.30);
    margin: auto;
    position: relative;
    bottom: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 26px;
    padding: 0 26px;
}

.bar .badge {
    height: 75%;
    background-color: rgba(29, 111, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.bar .badge:hover {
    background-color: rgba(29, 111, 0, 0.25);
}

.bar .badge img {
    width: 70%;
    transition: scale 0.2s ease-in-out;
}

.bar .badge:hover img {
    scale: 1.02;
}


section.specialties {
    padding-top: 100px;
    width: 80%;
    margin: auto;
}

.specialties .title {
    width: 560px;
    margin: auto;
    text-align: center;
}

.specialties .title p {
    padding-top: 22px;
    width: 360px;
    margin: auto;
}

.specialties .items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1246px;
    margin: 86px auto 46px auto;
}

.specialties .items .specialty {
    min-width: 274px;
    max-width: 428px;
    flex: 1;
    padding: 0 48px;
    margin-bottom: 64px;
}

.specialties .items .specialty h3 {
    font-size: 24px;
    width: 68px;
    margin-bottom: 8px;
}

.specialties .items .specialty img {
    width: 56px;
    margin-bottom: 16px;
}

.specialties .items .specialty a.cta-link {
    color: var(--primary--accent);
    margin-top: 12px;
    display: inline-block;
}

/*    SKILLS     */

div.skills-box {
    width: 82%;
    background-color: var(--light);
    margin: auto;
    padding: 72px 64px;
    box-shadow: 0px 6px 13px 4px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
    max-width: 1246px;
}

div.skills-box hr {
    width: 64px;
    border-color: var(--primary--accent);
    border-width: 3px;
    border-style: solid;
    margin-top: 24px;
    margin-bottom: 36px;
}

div.skills-box p {
    margin-top: 24px;
    font-size: 1.2rem;
}

.skills-list {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 956px;
}

.skill {
    position: relative;
    height: 112px;
    width: 112px;
    border-radius: 50%;
    background: conic-gradient(var(--secondary--accent) var(--degrees), #AEB5AB 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 18px;
}

.skill-filler {
    height: 112px;
    width: 112px;
    margin-bottom: 18px;
}

.skill::before {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: var(--light);
}

.skill img {
    z-index: 10;
    width: 50%;
}

.skill .info {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    opacity: 0;
    background-color: var(--light);
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    z-index: 11;
    border-radius: 50%;
    transition: opacity 0.15s ease-in-out;
}

.skill:hover .info {
    opacity: 0.85;
}


section.education {
    padding-top: 100px;
    width: 80%;
    margin: auto;
}

.education .title {
    width: 560px;
    margin: auto;
    text-align: center;
}

.education .title p {
    padding-top: 22px;
    width: 446px;
    margin: auto;
}

.education .timeline-container {
    width: 90%;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
}

.education .timeline-container .education-item {
    text-align: right;
    flex-grow: 1;
    display: flex;
    flex-direction: row-reverse;
    height: 100px;
    justify-content: center;
}

.education .timeline-container .education-item p.heading {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.1rem;
}

.education .timeline-container .education-item img.icon {
    width: 64px;
    height: 64px;
    cursor: pointer;
    transition: scale 0.2s ease-in-out;
}

.education .timeline-container .education-item img.icon:hover {
    scale: 1.05;
}

.education .timeline-container .education-item img.point-line {
    height: 64px;
    position: relative;
    top: 100px;
    right: 44px;
}

.education .timeline-container .education-item .details {
    display: none;
    margin-right: 16px;
    max-width: 428px;
    cursor: pointer;
}

.education .timeline-container .education-item.selected .details {
    display: block;
}

.timeline {
    width: 85%;
    display: block;
    margin: auto;
    position: relative;
    bottom: 48px;
}