:root {
    --light: rgba(252, 252, 252, 1);
    --primary--dark: rgba(32, 54, 49, 1);
    --secondary--accent: rgba(59, 117, 85, 1);
    --primary--accent: rgba(219, 96, 71, 1);
    --primary--accent--lighter: rgb(236, 109, 84);
    --primary--accent--darker: rgb(201, 80, 58);
    --secondary--dark: rgba(107, 57, 55, 1);
}

html {
    scroll-behavior: smooth;
}

/* Universal Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--light);
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: var(--primary--dark);
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    font-weight: 700;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
}

h3 {
    color: var(--primary--dark);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
}

h4 {
    color: var(--primary--dark);
    font-family: 'lato', sans-serif;
    font-weight: 300;
    font-size: 1.8rem;
}

h5 {
    color: var(--primary--dark);
    font-family: 'lato', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
}

p {
    color: var(--primary--dark);
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.4;
}

a {
    text-decoration: none;
    color: unset;
    font-size: 1rem;
}

a.link {
    color: var(--primary--accent);
    text-decoration: none;
    box-shadow: inset 0 0 0 0 var(--primary--accent);
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}


a.link:hover {
    box-shadow: inset 100px 0 0 0 var(--primary--accent);
    color: var(--light);
    cursor: pointer;
}

a.link:visited {
    color: var(--primary--accent-darker);
}

a.cta-link {
    all: unset;
    cursor: pointer;
    color: var(--primary--accent);
    text-decoration: none;
    transition: filter 0.1s ease-in-out;
}

a.cta-link:hover {
    filter: brightness(0.8);
}

a.cta-link:visited {
    color: var(--primary--accent-darker);
}

.material-symbols-outlined {
    position: relative;
    top: 6px;
}

/* Navbar */

nav.navbar {
    height: 86px;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img.logo {
    width: 48px;
    margin-right: 64px;
    transition: filter 0.1s ease-in-out;
}

nav img.logo:hover {
    filter: brightness(1.5);
}

.nav-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 46%;
    max-width: 1000px;
}

.nav-links li a {
    font-size: 1.1rem;
    transition: filter 0.1s ease-in-out;
}

.nav-links li a:hover {
    filter: brightness(1.5);
}

nav .nav-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 26px;
}

.nav-buttons img {
    width: 32px;
    transition: filter 0.1s ease-in-out;
}

.nav-buttons img:hover {
    filter: brightness(1.5);
}

.hamburger {
    cursor: pointer;
    width: 32px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hamburger div {
    background-color: var(--primary--dark);
    height: 3px;
}

.hamburger div:nth-child(1) {
    width: 85%;
}

.hamburger div:nth-child(2) {
    width: 60%;
}

.hamburger div:nth-child(3) {
    width: 90%;
}


/* Footer */
