:root {
    --light: rgba(242, 227, 219, 1);
    --light--darker: rgb(190, 183, 179);
    --primary--dark: rgba(38, 58, 41, 1);
    --secondary--dark: rgba(61, 77, 63, 1);
    --primary--accent: rgba(215, 118, 75, 1);
    --primary--accent--lighter: rgba(231, 140, 101, 1);
    --primary--accent--darker: rgb(196, 99, 57);
}

html {
    scroll-behavior: smooth;
}

/* Universal Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--light);
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: var(--primary--dark);
}

h1 {
    font-family: 'League Spartan', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 100px;
}

h2 {
    font-family: 'League Spartan', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 84px;
}

h3 {
    font-family: 'League Spartan', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2.5rem;
}

h4 {
    font-family: 'lato', sans-serif;
    font-weight: 300;
    font-size: 2rem;
}

h5 {
    font-family: 'lato', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
}

p {
    color: var(--secondary--dark);
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.4;
}

a {
    color: var(--primary--accent);
    display: inline-block;
    text-decoration: none;
    position: relative;
}

a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    bottom: -2px;
    background-color: var(--primary--accent);
    transform-origin: bottom right;
    transition: transform 0.125s ease-out;
}

a:hover {
    color: var(--primary--accent-lighter);
    cursor: pointer;
}

a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

a:visited {
    color: var(--primary--accent-darker);
}

/* Navbar */

.navbar {
    width: 100%;
    height: 78px;
    margin: auto;
    padding: 0 10%;
    border-bottom: 2px var(--primary--dark) solid;
    background-color: var(--light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    transition: filter 0.5s ease-in-out;
}

.navbar.drop-shadow {
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
}

.navbar .logo {
    width: 48px;
    display: block;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 64px;
}

.navbar a {
    color: unset;
}

.navbar a::after {
    all: unset;
}

.navbar li {
    all: unset;
    font-size: 18px;
}

.burger {
    display: none;
}

.burger div {
    background-color: var(--primary--dark);
    height: 3px;
    width: 30px;
    margin: 6px 0;
}


/* Footer */

footer {
    margin-top: 128px;
    padding-top: 56px;
    background-color: var(--primary--dark);
}

footer hr {
    border-color: var(--light--darker);
    width: 98%;
    margin: auto;
}

footer ul {
    color: var(--light);
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

footer .socials {
    width: fit-content;
    margin: 48px auto;
    display: flex;
    gap: 26px;
}

.socials a::after {
    all: unset;
}

footer .socials img {
    width: 42px;
}

footer p {
    color: var(--light--darker);
    width: 98%;
    margin: auto;
    padding: 16px 0 16px 16px;
}


@media only screen and (max-width: 889px) {

    h1 {
        font-size: 82px;
    }

    h2 {
        font-size: 32px;
    }

    /* Navbar */

    .burger {
        display: block;
        cursor: pointer;
        z-index: 2;
    }

    .navbar ul {
        position: absolute;
        margin: 0;
        padding: 128px 40px;
        left: 0px;
        top: 0px;
        height: calc(100vh);
        width: 100%;
        background-color: var(--primary--dark);
        flex-direction: column;
        align-items: flex-end;
        z-index: 1;
        transform: translateX(100%);
        display: none;
        transition: transform 0.2s ease-in;
    }

    .navbar li {
        color: var(--light);
        opacity: 0;
    }

    .navbar.nav-active .burger div {
        background-color: var(--light);
        transition: transform 0.3s ease;
      }
    
    .navbar.nav-active .burger {
        position: fixed;
        right: 40px;
    }

    .navbar ul.nav-active {
        transform: translateX(0%);
        display: inherit;
        position: fixed;
    }

      @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(20px);
        }
        to {
            opacity: 1;
            transform: translateX(0px);
        }
      }


    .navbar.nav-active .burger div:nth-child(1)
    {
        transform: rotate(-45deg) translate(-3px, 9.5px);
    }

    .navbar.nav-active .burger div:nth-child(2)
    {
        opacity: 0;
    }

    .navbar.nav-active .burger div:nth-child(3)
    {
        transform: rotate(45deg) translate(-3px, -9.5px);
    }

    /* Footer */


  }


