:root {
    --light: rgba(252, 252, 252, 1);
    --primary--dark: rgba(32, 54, 49, 1);
    --secondary--accent: rgba(59, 117, 85, 1);
    --secondary--accent--lighter: rgb(78, 141, 107);
    --secondary--accent--darker: rgb(43, 95, 75);
    --primary--accent: rgba(219, 96, 71, 1);
    --primary--accent--lighter: rgb(236, 109, 84);
    --primary--accent--darker: rgb(201, 80, 58);
    --secondary--dark: rgba(107, 57, 55, 1);
}

html {
    scroll-behavior: smooth;
}

/* Universal Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--light);
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: var(--primary--dark);
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    font-weight: 700;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
}

h3 {
    color: var(--primary--dark);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
}

h4 {
    color: var(--primary--dark);
    font-family: 'lato', sans-serif;
    font-weight: 300;
    font-size: 1.8rem;
}

h5 {
    color: var(--primary--dark);
    font-family: 'lato', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
}

p {
    color: var(--primary--dark);
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.4;
}

a {
    text-decoration: none;
    color: unset;
    font-size: 1rem;
}

a.link {
    color: var(--primary--accent);
    text-decoration: none;
    box-shadow: inset 0 0 0 0 var(--primary--accent);
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}


a.link:hover {
    box-shadow: inset 100px 0 0 0 var(--primary--accent);
    color: var(--light);
    cursor: pointer;
}

a.link:visited {
    color: var(--primary--accent-darker);
}

a.cta-link {
    all: unset;
    cursor: pointer;
    color: var(--primary--accent);
    text-decoration: none;
    transition: filter 0.1s ease-in-out;
}

a.cta-link:hover {
    filter: brightness(0.8);
}

a.cta-link:visited {
    color: var(--primary--accent-darker);
}

.material-symbols-outlined {
    position: relative;
    top: 6px;
}

/* Navbar */

nav.navbar {
    height: 86px;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img.logo {
    width: 48px;
    margin-right: 64px;
    transition: filter 0.1s ease-in-out;
}

nav img.logo:hover {
    filter: brightness(1.5);
}

.nav-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 46%;
    max-width: 1000px;
}

.nav-links li a {
    font-size: 1.1rem;
    transition: filter 0.1s ease-in-out;
}

.nav-links li a:hover {
    filter: brightness(1.5);
}

nav .nav-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 26px;
}

.nav-buttons img {
    width: 32px;
    transition: filter 0.1s ease-in-out;
}

.nav-buttons img:hover {
    filter: brightness(1.5);
}

.hamburger {
    cursor: pointer;
    width: 32px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
}

.hamburger div {
    background-color: var(--primary--dark);
    height: 3px;
    transition: transform 0.3s ease;
}

.hamburger div:nth-child(1) {
    width: 85%;
}

.hamburger div:nth-child(2) {
    width: 60%;
}

.hamburger div:nth-child(3) {
    width: 90%;
}

.hamburger.socials {
    display: flex;
}

.socials-bar {
    background-color: var(--primary--dark);
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: absolute;
    right: calc(5% - 10px);
    top: 24px;
    z-index: 10;
    padding: 10px;
    border-radius: 0 5px 5px 5px;
    transition: transform 0.2s ease-in;
    transform: translateX(-100px);
    display: none;
}

.socials-bar img {
    width: 32px;
}

.socials-bar.social-active {
    display: flex;
    transform: translateX(0px);
}

.hamburger.socials.burger-toggle div:nth-child(1)
{
    transform: rotate(-45deg) translate(-4.5px, 9.5px);
    width: 100%;
}

.hamburger.socials.burger-toggle div:nth-child(2)
{
    opacity: 0;
}

.hamburger.socials.burger-toggle div:nth-child(3)
{
    width: 100%;
    transform: rotate(45deg) translate(-4.5px, -9.5px);
}

@keyframes socialButtonsOpen {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
  }

/* Footer */

footer {
    margin-top: 112px;
    background-color: var(--primary--dark);
    padding: 74px 0 22px 0;
    color: var(--light);

}

footer .container {
    padding: 0 10% 76px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img.logo {
    width: 78px;
}

footer li {
    list-style: none;
}

footer .main-links {
    display: flex;
    gap: 26px;
}

footer .main-links li a {
    font-weight: 400;
    font-size: 18px;
}

footer .sub-links {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 12px;
    max-height: 100px;
    max-width: 300px;
}

footer .socials img {
    width: 42px;
}

footer .socials {
    display: flex;
    gap: 26px;
    justify-content: flex-end;
}

footer hr {
    width: 94%;
    margin: auto;
}

footer #copyright {
    color: var(--light);
    margin: 22px 0 0 calc(3% + 18px);
}


@media only screen and (max-width: 889px) {

    body {
        overflow-x: hidden;
        width: 100vw;
    }

    /* Navbar */

    .navbar {
        padding: 0 40px;
    }

    .hamburger {
        display: flex;
        align-items: flex-end;
        z-index: 1000;
    }

    .hamburger.socials {
        display: none;
    }

    .nav-buttons > a {
        display: none;
    }

    .nav-links {
        position: absolute;
        margin: 0;
        left: 0px;
        top: 0px;
        height: 100vh;
        width: 100%;
        background-color: var(--primary--dark);
        flex-direction: column;
        z-index: 999;
        transform: translateX(100%);
        display: none;
        transition: transform 0.2s ease-in;
        align-items: flex-end;
        padding: 128px 42px 50vh 0;
    }

    .nav-links li {
        color: var(--light);
        opacity: 0;
    }

    .navbar.nav-active .hamburger div {
        background-color: var(--light);
        transition: transform 0.3s ease;
      }
    
    .navbar.nav-active .hamburger {
        position: fixed;
        right: 40px;
    }

    .nav-links.nav-active {
        transform: translateX(0%);
        display: inherit;
        position: fixed;
      }

      @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(20px);
        }
        to {
            opacity: 1;
            transform: translateX(0px);
        }
      }

    .navbar.nav-active .hamburger div:nth-child(1)
    {
        transform: rotate(-45deg) translate(-4.5px, 9.5px);
        width: 100%;
    }

    .navbar.nav-active .hamburger div:nth-child(2)
    {
        opacity: 0;
    }

    .navbar.nav-active .hamburger div:nth-child(3)
    {
        width: 100%;
        transform: rotate(45deg) translate(-4.5px, -9.5px);
    }

    /* Footer */

    footer .container {
        flex-direction: column;
        gap: 86px;
        align-items: center;
    }

    footer .socials {
        margin: auto;
    }

    footer #copyright {
        display: block;
        margin: 22px auto 0 auto;
        text-align: center;
        width: 80%;
    }

  }